* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg {
    display: flex;
    border-style: solid;
    border-radius: 7px;
    width: 500px;
    height: 306px;
    background-color: white;
    align-items: center;
    justify-content: center;
}
.blkng {
    display: flex;
    width: auto;
    height: 500px;
    justify-content: center;
    align-items: center;
}
.kiri {
    background-color: white;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 150px;
    height: 150px;
}
.kanan {
    background-color: rgb(132, 182, 240);
    border-top-left-radius: 7%;
    border-bottom-left-radius: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
}
.kanan button {
    color: rgb(0, 89, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 30px;
    margin-top: 20px;
}
.nama {
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
    top: 0;
    margin-bottom: 30px;
}
.pw {
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
}
.kanan h2 {
    display: flex;
    color: white;
    padding-bottom: 30px;
    font-family: sans-serif;
}
.kanan p {
    color: white;
    font-family: sans-serif;
}
.kanan input::placeholder {
    color: white;
}