
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif, 'Poppins';
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.left-section img {
    width: 57%;
    margin-bottom: 20px;
    margin-top: -5rem;
}

.left-section h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}

.left-section p {
    font-size: 33px;
    font-weight: 400;
    color: #484747;
}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2F3E4E; /* Warna biru gelap */
    border-radius: 30px 0px 0px 30px;
    padding: 40px;
    height: 100vh;
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
}

.right-section h2 {
    color: white;
    font-family: 'Poppins';
    font-size: 43px; /* Ukuran teks diperbesar */
    font-weight: bold;
    text-align: left; /* Teks diratakan tengah */
    margin-left: 11rem;
    margin-bottom: 33px;
    line-height: 1.6; /* Jarak antar baris ditingkatkan */
    width: 100%; /* Lebar elemen teks disesuaikan */
}

.right-section input {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
    font-family: 'Poppins';
    font-size: 20px; /* Ukuran teks input diperbesar */
    width: 33rem; /* Lebar input menyesuaikan container */
    margin-bottom: 20px;
    padding: 10px; /* Padding ditambah untuk kenyamanan */
    outline: none;
    transition: border-color 0.3s ease;
    text-align: left; /* Placeholder diratakan kiri */
}

.right-section input::placeholder {
    color: #dcdcdc;
    font-size: 16px; /* Placeholder diperbesar agar proporsional */
}

.right-section button {
    color: #32465a;
    background-color: #ffffff;
    border: none;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px; /* Ukuran teks tombol diperbesar */
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 65px;
    width: 27rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-left: 3rem;
    letter-spacing: 3px;
}

.right-section button:hover {
    background-color: #dcdcdc;
    color: #2F3E4E;
}
